@use '../../utils/scss/vars';

.Header {
  background-color: vars.$color--tertiary;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  &-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
    max-width: vars.$bp--30;
    padding: vars.$spacing--20;
  }
  &-titleWrap {
    align-items: center;
    display: flex;
  }
  &-logo {
    height: 80px;
    width: 80px;
    @media screen and (max-width: vars.$bp--20) {
      display: none;
    }
  }
  &-inputWrap {
    display: flex;
    flex-grow: 0;
    margin: auto;
    @media screen and (max-width: vars.$bp--20) {
      width: 100%;
    }
    input {
      border: 1px solid white;
      border-radius: vars.$radius 0 0 vars.$radius;
      border-right: 0;
      flex-grow: 1;
    }
    button {
      background-color: vars.$color--primary;
      border-radius: 0 vars.$radius vars.$radius 0;
      color: white;
      cursor: pointer;
      flex-grow: 0;
      flex-shrink: 0;
      padding: vars.$spacing--10 vars.$spacing--20;
      margin-left: 2px;
      transition: background-color linear 0.2s;
      &:hover {
        background-color: rgba(vars.$color--primary, 0.5);
      }
    }
  }
  &-tempToggleWrap {
    align-items: center;
    display: flex;
    font-size: vars.$font-size--20;
    justify-content: flex-end;
    button {
      background-color: rgba(vars.$color--primary, 0.5);
      color: vars.$color-gray--30;
      cursor: pointer;
      padding: vars.$spacing--10 vars.$spacing--15;
      transition: background-color linear 0.2s, color linear 0.2s;
      &:disabled,
      &:hover {
        background-color: vars.$color--primary;
        color: white;
      }
      &:disabled {
        cursor: initial;
      }
      &:first-child {
        border-radius: vars.$radius 0 0 vars.$radius;
        margin-right: 2px;
      }
      &:last-child {
        border-radius: 0 vars.$radius vars.$radius 0;
      }
    }
  }
}
