@use '../../utils/scss/vars';

.Header {
  border-bottom: 3px solid black;
  &-inner {
    margin: auto;
    padding: vars.$spacing--20 vars.$spacing--10;
    max-width: vars.$bp--60;
  }
}
