@use '../../utils/scss/vars';

.App {
  &-main {
    background-color: vars.$color--secondary;
  }
  &-content {
    background-color: white;
    border: solid vars.$color--tertiary;
    border-width: 0 1px;
    margin: 0 auto;
    max-width: vars.$bp--50;
    padding: vars.$spacing--20;
  }
}
